<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">
        <header>
            <div class="inputBar">
                <input v-model="inputSearch" type="text" id="search-bar" placeholder="Cerca film" @keyup.enter="getSearchResult">
            </div>   
        </header>

        <main>
            <div class="card-container">
                <div class="movie-card" v-for="card in movieCards">
                    <div><h3> Title: {{ card.title }} </h3></div>

                    <div class="card-cover">
                        <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                        <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt=""></div>

                    <div>Original Title: {{ card.original_title }}</div>

                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>

                    <div>Score: 
                        <span v-if="card.vote_average == 0">No score</span>
                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>

                <div class="movie-card" v-for="card in tvShowCards">
                    <div><h3> Title: {{ card.name }} </h3></div>

                    <div class="card-cover">
                        <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                        <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                    </div>

                    <div>Original Title: {{ card.original_name }}</div>

                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>

                    <div>Score: 
                        <span v-if="card.vote_average == 0">No score</span>
                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>

                
            </div>
        </main>
    </div>


    <script src="js/script.js"></script>
</body>
</html>