<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">
        <!-- header con campo ricerca  -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="img/boolflix logo.png" alt="">
                </div>

                <div class="inputBar">
                    <i class="fas fa-search"></i>
                    <input v-model="inputSearch" type="text" id="search-bar"
                    @keyup.enter="getSearchResult" @keyup="getSearchResult">
                </div>
            </div>   
        </header>

        <!-- main  -->
        <main>
            <!-- sezione discover precaricata  -->
            <section class="discover-section" v-if="inputSearch == ''">
                <section class="genre-section">
                    <div class="genre-title"> <h2>Action</h2> </div>

                    <!-- card per il risultato della ricerca sui movies  -->
                    <div class="card-container">

                        <div class="movie-card" v-for="card in discoverMovies" v-if="card.genre_ids.includes(28)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>
        
                            <div class="card-overlay">
        
                                <div class="card-info">
                                    <div class="card-title"><h3>{{ card.title }}</h3></div>
        
                                    <div>Original Title: {{ card.original_title }}</div>
            
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
            
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
            
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                        <!-- card per il risultato della ricerca sui tv-shows  -->
                        <div class="movie-card" v-for="card in discoverTvShows" v-if="card.genre_ids.includes(10759)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>

                            <div class="card-overlay">

                                <div class="card-info">
                                    <div><h3> Title: {{ card.name }} </h3></div>

                                    <div>Original Title: {{ card.original_name }}</div>
                
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
                
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
                
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="genre-section">
                    <div class="genre-title"> <h2>Drama</h2> </div>

                    <!-- card per il risultato della ricerca sui movies  -->
                    <div class="card-container">

                        <div class="movie-card" v-for="card in discoverMovies" v-if="card.genre_ids.includes(18)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>
        
                            <div class="card-overlay">
        
                                <div class="card-info">
                                    <div class="card-title"><h3>{{ card.title }}</h3></div>
        
                                    <div>Original Title: {{ card.original_title }}</div>
            
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
            
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
            
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                        <!-- card per il risultato della ricerca sui tv-shows  -->
                        <div class="movie-card" v-for="card in discoverTvShows" v-if="card.genre_ids.includes(18)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>

                            <div class="card-overlay">

                                <div class="card-info">
                                    <div><h3> Title: {{ card.name }} </h3></div>

                                    <div>Original Title: {{ card.original_name }}</div>
                
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
                
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
                
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="genre-section">
                    <div class="genre-title"> <h2>Crime</h2> </div>

                    <!-- card per il risultato della ricerca sui movies  -->
                    <div class="card-container">

                        <div class="movie-card" v-for="card in discoverMovies" v-if="card.genre_ids.includes(80)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>
        
                            <div class="card-overlay">
        
                                <div class="card-info">
                                    <div class="card-title"><h3>{{ card.title }}</h3></div>
        
                                    <div>Original Title: {{ card.original_title }}</div>
            
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
            
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
            
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                        <!-- card per il risultato della ricerca sui tv-shows  -->
                        <div class="movie-card" v-for="card in discoverTvShows" v-if="card.genre_ids.includes(80)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>

                            <div class="card-overlay">

                                <div class="card-info">
                                    <div><h3> Title: {{ card.name }} </h3></div>

                                    <div>Original Title: {{ card.original_name }}</div>
                
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
                
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
                
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="genre-section">
                    <div class="genre-title"> <h2>Family</h2> </div>

                    <!-- card per il risultato della ricerca sui movies  -->
                    <div class="card-container">

                        <div class="movie-card" v-for="card in discoverMovies" v-if="card.genre_ids.includes(10751)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>
        
                            <div class="card-overlay">
        
                                <div class="card-info">
                                    <div class="card-title"><h3>{{ card.title }}</h3></div>
        
                                    <div>Original Title: {{ card.original_title }}</div>
            
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
            
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
            
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                        <!-- card per il risultato della ricerca sui tv-shows  -->
                        <div class="movie-card" v-for="card in discoverTvShows" v-if="card.genre_ids.includes(10751)">

                            <div class="card-cover">
                                <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                                <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                                <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                            </div>

                            <div class="card-overlay">

                                <div class="card-info">
                                    <div><h3> Title: {{ card.name }} </h3></div>

                                    <div>Original Title: {{ card.original_name }}</div>
                
                                    <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
                
                                    <div>Score:
                                        <!-- se il voto e' zero stampo no score   -->
                                        <span v-if="card.vote_average == 0">No score</span>
                
                                        <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                        <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
            </section>

            sezione search
            <section class="search-section" v-else>
                <!-- card per il risultato della ricerca sui movies  -->
                <div class="card-container">

                    <div class="movie-card" v-for="card in movieCards">

                        <div class="card-cover">
                            <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                            <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt="">
                            <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                        </div>
    
                        <div class="card-overlay">
    
                            <div class="card-info">
                                <div class="card-title"><h3>{{ card.title }}</h3></div>
    
                                <div>Original Title: {{ card.original_title }}</div>
        
                                <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
        
                                <div>Score:
                                    <!-- se il voto e' zero stampo no score   -->
                                    <span v-if="card.vote_average == 0">No score</span>
        
                                    <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                    <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <!-- card per il risultato della ricerca sui tv-shows  -->
                    <div class="movie-card" v-for="card in tvShowCards">

                        <div class="card-cover">
                            <!-- se l'immagine non e' presente in api prendo un immagine placeholder in locale  -->
                            <img class="posterNull" v-if="card.poster_path == null " src="img/posternull.jpg" alt=""> 
                            <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + card.poster_path" alt="">
                        </div>

                        <div class="card-overlay">

                            <div class="card-info">
                                <div><h3> Title: {{ card.name }} </h3></div>

                                <div>Original Title: {{ card.original_name }}</div>
            
                                <div><span>Language:</span> <span class="flag"> <img :src="'img/flags/' + card.original_language + '.svg'" alt=""> </span></div>
            
                                <div>Score:
                                    <!-- se il voto e' zero stampo no score   -->
                                    <span v-if="card.vote_average == 0">No score</span>
            
                                    <!-- se il voto e' > 0 stampa tante stelle quanto e' il voto restituito da getVoteOnFive()  -->
                                    <span v-else v-for="n in getVoteOnFive(card.vote_average)" class="stars">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
            </section>

        </main>
    </div>


    <script src="js/script.js"></script>
</body>
</html>